.granteeCard{
    border: none;
    height: 280px;
    background: transparent;
    /*position: relative;*/
}
.granteeCard i{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    color: #61dafb;
}
.granteeCard h5{
    position: absolute;
    min-width: 200px;
    margin: 0 5px 0 5px;
    background: transparent;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.granteeCard p{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.ratingBars{
    position: relative;
    width: 300px;
    /*background: orange;*/
    margin-bottom: 10px;
}
.ratingBars p{
   margin: 0;
}
.ratingBars p:nth-child(1){
    position: absolute;
    top: -6px;
}
.ratingBars p:nth-child(2){
    position: absolute;
    top: -6px;
    right: 35px;
}
#ratingsInNumber{
    display: block;
    margin: 0;
}
.comment{
    border-bottom: 0.5px solid black;
    position: relative;
    min-height:150px;
    height: auto;
    padding-left: 5px;
    overflow: auto;
}
.comment p{
    position: absolute;
}
.comment p:nth-child(1){
    left: 10px;
    font-size: 28px;
    font-weight: bolder;
}
.stars{
    position: absolute;
    top: 30px;
}
.comment p:nth-child(2){
    left: 10px;
    font-size: 20px;
    top: 60px;

}
.comment p:nth-child(3){
    left: 15px;
    font-size: 20px;
    top: 85px;
    text-align: left;
}
.comment p:nth-child(4){
    background: yellow;
    position: absolute;
    font-weight: bold;
    top: 30px;
    right: 20px;
    padding: 7px 5px;
    border-radius: 7px 5px;
}

