body{
    background: rgb(248,248,248);
}
.cartBtn{
    font-size: 25px;
    background: transparent;
    border-radius: 7px;
    padding: 5px;
}
.cartBtn i{
   color: black;
    margin-top: 0px;
}
.cartBtn span{
    /*padding: 7px;*/
    /*margin-bottom: -20px;*/
    display: inline-block;
}

.cartBtn:hover{
    background: rgb(214, 215, 216);
    cursor: pointer;
}
.options span{
    display: block;
    margin-top: -29px;
    margin-left: 30px;
    text-transform: capitalize;
}

.shopItem{
    margin: 18px;
    border-radius: 5px 7px;
    box-shadow: 0px 20px 47px 14px rgba(0,0,0,0.1);
    border: none;
    cursor: pointer;
}

.shopItem:hover{

    box-shadow: 0px 22px 40px -9px rgba(0,0,0,0.4);
}